body{
	background-color: #F9F9F9;
}
a{
	color: #72ae22;
}
a:hover{
	color: #8DC63F;
}

#header{
	background: #141414;
	border-bottom: 2px solid #8DC63F;
}

.nav-bar{
	display: none;
}

#banner{
	height: 100%;
	width: 100%;
	background: #8DC63f;
	background-image: url("../images/geometric.png");
	background-repeat: repeat;
}

#footer{
	height: 100%;
	width: 100%;
	background: #eee;
}
.button{
	background: #8DC63F;
	border: #72ae22;
}

.button:hover{
	background: #72ae22;
	border: #72ae22;
}
#message{
	height: 84px;
	width: 100%;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-image: url("../images/ribbon-straight.png");
	color: white;
}
#message h4{
	color: white;
	text-align: center;
}
.panel{
	margin-bottom: 0;
	background: none;
	border: none;
}
.banner{
	padding-bottom: none;
	margin-top: 10px;
}
.logo{
	text-align: center;
}
.spectrafy-cta{
	text-align: left;
	width: 45%;
	margin: 90px 0 50px 0;
}
.spectrafy-cta h4{
	padding-bottom: 20px;
	color: white; 
	padding-left: 25px;
}
.spectrafy-cta .spec_logo{
	padding-left: 23px;
}
.ribbon-center{
	background-image: url("../images/ribbon-center.png");
	background-repeat: no-repeat;
	height: 99px;
	position: relative;
	top: -16px;
	width: 1061px;
	left: -75px;
}
