body{
	background-color: #F9F9F9;	
}
a{
	color: #72ae22;
}
a:hover{
	color: #8DC63F;
}

#header{
	background: #141414;
	border-bottom: 2px solid #8DC63F;
}

.nav-bar{
	display: none;
}

#banner{
	height: 100%;
	width: 100%;
	background: #8DC63f;
	background-image: url("../images/geometric.png");
	background-repeat: repeat;
}


#footer{
	height: 100%;
	width: 100%;
	background: #222;
	color: #ccc;
}
.button{
	background: #8DC63F;
	border: #72ae22;
}

.button:hover{
	background: #72ae22;
	border: #72ae22;
}
#message{
	height: 84px;
	width: 100%;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-image: url("../images/ribbon-straight.png");
	color: white;
}
#message h4{
	color: white;
	text-align: center;
}
.panel{
	margin-bottom: 0;
	background: none;
	border: none;
}
.banner{
	padding-bottom: none;
	margin-top: 10px;
}
.logo{
	text-align: center;
}
.spectrafy-cta{
	text-align: left;
	width: 33%;
	margin: 90px 0 50px 0;
}
.spectrafy-cta h5{
	padding-bottom: 20px;
	color: white; 
	padding-left: 25px;
	font-size: 1.5em;
}
.spectrafy-cta .spec_logo{
	padding-left: 23px;
}

.ribbon-center{
	background-image: url("../images/ribbon-center.png");
	background-repeat: no-repeat;
	height: 99px;
	position: relative;
	top: -16px;
	width: 1061px;
	left: -75px;
}
.ribbon-center h4{
	padding-top: 7px;
}
.mac{
	padding: 0;
	margin-top: 50px;
}
.section1{
	background: #eee;
	background-image: url("../images/bg.jpg");
	height: 100%;
	width: 100%;
}
.section1 .row{
	background: #F9F9F9;
}
.what-is{
	margin-top: 40px;
}
.features{
	top: 40px;
	padding-bottom: 80px;
}
.pic{
	top: 2px;
}

.list li{
	font-size: 1.2em;
	list-style: none;
	padding-bottom: 5px;
}
.list i{
	font-size: 1.3em;
}
i {
	color: #8DC63F;
}
.download-button{
	top: -44px;
	left: -40px;
	color: white;
}
.download-button i{
	color: white;
	font-size: large;
}
.more{
	padding-bottom: 30px;
}
.adobe{
	background-image: -webkit-linear-gradient(#e3e3e3 7%, #b1b1b1 100%);
	background-image: -moz-linear-gradient(center bottom, rgb(177,177,177) 7%, rgb(227,227,227) 100%);
	background-image: -o-linear-gradient(bottom, rgb(177,177,177) 7%, rgb(227,227,227) 100%);
	background-image: linear-gradient(bottom, rgb(177,177,177) 7%, rgb(227,227,227) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(177,177,177) 7%, rgb(227,227,227) 100%);
	border-top: 1px solid white;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.47);
	padding: 15px 0;
}

.kuler{
	margin-top: 6px;
}
.colormunch{
	margin-top: 20px;
	padding-left: 35px;
}
.air{
	margin-top: 6px;
	padding-left: 53px;
}
.spectra{
	margin-top: 14px;
	left: -10px;
}
.info, .what{
	padding-left: 40px;
}